package ${package};

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.*;
import com.xsungroup.tms.core.common.modelmapper.Convert;

import java.io.Serializable;

#foreach($pkg in ${importPackages})
import ${pkg};
#end

/**
 * <p>
 * $!{comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */

@ApiModel
@ToString
@Getter
@Setter
@EqualsAndHashCode(callSuper = false)
public class ${entity}Dto extends Convert  implements Serializable {

    private static final long serialVersionUID = 1L;

    #foreach($field in ${fieldList})

    @ApiModelProperty("${field.comment}")
    private ${field.javaType} ${field.fieldName};

    #end

    public interface Create {
    }

    public interface Update {
    }
}